Repository BCDevOps/bcdk, pull requests merged in 2020-01, with the labels that each got.

#61 Automatically clean PR deployments on PR close/merge
  README.md
  generators/jenkins/templates/.jenkins/docker/contrib/jenkins/configuration/scripts.groovy.d/on-gh-event.groovy
  generators/pipeline/templates/.pipeline/lib/clean.js
Labels: task: enhancement

#73 Updating bcdk from v 0.0.3 to v 0.0.3-1
  package-lock.json
  package.json
Labels: status: release

#75 Fix an issue where jenkins won't deploy because of invalid pvc config
  generators/jenkins/templates/.jenkins/openshift/deploy-master.yaml
  package-lock.json
Labels: bug
